{% extends "base.html" %}
{% block title %}K_W Regisztráció{% endblock %}
{% block active_signup %}class="active"{% endblock %}
{% block content %}
    <h2>Felhasználói profil létrehozása</h2>

    <section id="register">
        <div class="form-container rounded">
            <form method="post" autocomplete="off">
                <label for="last_name" class="required-class">Vezetéknév:</label>
                <input type="text" name="last_name" id="last_name" maxlength="50" {% if save[1] %}
                       value="{{ save[1] }}" {% endif %} required>

                <label for="first_name" class="required-class">Keresztnév:</label>
                <input type="text" name="first_name" id="first_name" maxlength="50"
                        {% if save[0] %} value="{{ save[0] }}" {% endif %} required>

                <label for="email" class="required-class">E-mail cím:</label>
                <input type="email" name="email" id="email" maxlength="50" placeholder="valaki@pelda.com"
                        {% if save[2] %} value="{{ save[2] }}" {% endif %} required>

                <label for="password" class="required-class">Jelszó (legalább 8 karakter):</label>
                <input type="password" name="password" id="password" maxlength="50" required>

                <label for="password_check" class="required-class">Jelszó újra:</label>
                <input type="password" name="password_check" id="password_check" maxlength="50" required>

                <label for="address" class="required-class">Számlázási/szállítási cím:</label>
                <input type="text" name="address" id="address" maxlength="100"
                       placeholder="5900 Orosháza, Táncsics Mihály utca 2."
                        {% if save[3] %} value="{{ save[3] }}" {% endif %} required>

                <input type="submit" name="signup" value="Regisztráció">
            </form>
            <h6 class="required-class">A csillaggal jelölt mezők kitöltése kötelező!</h6>
        </div>
    </section>
{% endblock %}